.drivers{
  span.text-muted.fw-bold.text-muted.d-block.fs-7{
    text-transform: uppercase;
  }
  a.text-dark.fw-bolder.text-hover-primary.mb-1.fs-6{
    text-transform: capitalize;
  }
}
.drivers-modal{

}
.blue-color{
  color: #21AAF8 !important;
}
