.red-error .email{
  border: 1px solid #F00 !important;
}
.text-muted {
  color: #000000 !important;
}
.bg-light {
  background-color: #d7d7d7 !important;
}
.table.gs-0 th:first-child, .table.gs-0 td:first-child {
  padding-left: 1rem;
}
.profiles span.custom{
  margin: 1px;
}
