<div class="card mb-5 mb-xl-8 users">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Import Drivers</span>
    </h3>
    <div class="card-toolbar">
      <a [href]="'./assets/alliance/download-import-samples/driver-import-sample.csv'" class="btn btn-sm btn-light-primary a-svg-hover-fill-color">
        <span class="svg-icon svg-icon-primary svg-icon-3">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="17px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <rect class="svg-hover-fill-color" fill="#009EF7" opacity="1" transform="translate(12.000000, 7.000000) rotate(-180.000000) translate(-12.000000, -7.000000) " x="11" y="1" width="2" height="12" rx="1"/>
                <path class="svg-hover-fill-color" d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z" fill="#009EF7" fill-rule="nonzero" opacity="1"/>
                <path class="svg-hover-fill-color" d="M14.2928932,10.2928932 C14.6834175,9.90236893 15.3165825,9.90236893 15.7071068,10.2928932 C16.0976311,10.6834175 16.0976311,11.3165825 15.7071068,11.7071068 L12.7071068,14.7071068 C12.3165825,15.0976311 11.6834175,15.0976311 11.2928932,14.7071068 L8.29289322,11.7071068 C7.90236893,11.3165825 7.90236893,10.6834175 8.29289322,10.2928932 C8.68341751,9.90236893 9.31658249,9.90236893 9.70710678,10.2928932 L12,12.5857864 L14.2928932,10.2928932 Z" fill="#009EF7" fill-rule="nonzero"/>
            </g>
          </svg>
        </span>
        Sample
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="javascript:void(0)" class="btn btn-sm btn-light-primary a-svg-hover-fill-color" (click)="csvReader.click()">
        <span class="svg-icon svg-icon-primary svg-icon-3">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="17px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <rect class="svg-hover-fill-color" fill="#009EF7" opacity="1" transform="translate(12.000000, 7.000000) rotate(-180.000000) translate(-12.000000, -7.000000) " x="11" y="1" width="2" height="12" rx="1"/>
                <path class="svg-hover-fill-color" d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z" fill="#009EF7" fill-rule="nonzero" opacity="1"/>
                <path class="svg-hover-fill-color" d="M14.2928932,10.2928932 C14.6834175,9.90236893 15.3165825,9.90236893 15.7071068,10.2928932 C16.0976311,10.6834175 16.0976311,11.3165825 15.7071068,11.7071068 L12.7071068,14.7071068 C12.3165825,15.0976311 11.6834175,15.0976311 11.2928932,14.7071068 L8.29289322,11.7071068 C7.90236893,11.3165825 7.90236893,10.6834175 8.29289322,10.2928932 C8.68341751,9.90236893 9.31658249,9.90236893 9.70710678,10.2928932 L12,12.5857864 L14.2928932,10.2928932 Z" fill="#009EF7" fill-rule="nonzero"/>
            </g>
          </svg>
        </span>
        Import
      </a>
      <input style="display: none" type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4 table-striped">
        <!-- begin::Table head -->
        <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="min-w-200px">Email</th>
          <th class="ps-4 min-w-300px">Code</th>
          <th class="min-w-300px">Active</th>
          <th class="min-w-200px">First Name</th>
          <th class="min-w-200px">Last Name</th>
          <th class="min-w-200px">Gender</th>
          <th class="min-w-200px">Address</th>
          <th class="min-w-200px">Zip</th>
          <th class="min-w-200px">State</th>
          <th class="min-w-200px">City</th>
          <th class="min-w-200px">Country</th>
          <th class="min-w-200px">Phone</th>
          <th class="min-w-200px">Mobile</th>
          <th class="min-w-200px">SSN</th>
          <th class="min-w-200px">Tax Id</th>
          <th class="min-w-200px">External ID</th>
        </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
        <tr *ngFor="let driver of records">
          <td  class="text-lowercase">
            {{driver.email}}
          </td>
          <td  class="text-uppercase">
            {{driver.code}}
          </td>
          <td>
            <span *ngIf="driver.active;else inactiveBadge" class="custom badge badge-light-success">Active</span>
            <ng-template #inactiveBadge>
              <span class="custom badge badge-light-danger">Inactive</span>
            </ng-template>
          </td>
          <td  class="text-capitalize">
            {{driver.first_name}}
          </td>
          <td  class="text-capitalize">
            {{driver.last_name}}
          </td>
          <td  class="text-uppercase email">
            {{driver.gender}}
          </td>
          <td  class="text-capitalize email">
            {{driver.address}}
          </td>
          <td  class="text-lowercase email">
            {{driver.zip}}
          </td>
          <td  class="text-uppercase email">
            {{driver.state}}
          </td>
          <td  class="text-capitalize email">
            {{driver.city}}
          </td>
          <td  class="text-capitalize email">
            {{driver.country}}
          </td>
          <td  class="text-lowercase email">
            {{driver.phone}}
          </td>
          <td  class="text-lowercase email">
            {{driver.mobile}}
          </td>
          <td  class="text-uppercase email">
            {{driver.ssn}}
          </td>
          <td  class="text-uppercase email">
            {{driver.tax_id}}
          </td>
          <td  class="text-uppercase email">
            {{driver.external_id}}
          </td>
        </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <div class="row">
      <div class="col">
        <!--        <div class="alert alert-danger" role="alert" *ngIf="importUserError !== undefined && importUserError !== ''">-->
        <!--          {{importUserError}}-->
        <!--        </div>-->
        <!--        <div class="alert alert-success" role="alert" *ngIf="importUserSuccess !== undefined && importUserSuccess !== ''">-->
        <!--          {{importUserSuccess}}-->
        <!--        </div>-->
        <button *ngIf="records !== undefined && records.length > 0" class="btn btn-primary import-now" (click)="import()">Import Now</button>
      </div>
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>
